<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Made In Reno</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>About</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Made In Reno</string>
			<key>Key</key>
			<string>publisher_preference</string>
			<key>Title</key>
			<string>Publisher</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0.0</string>
			<key>Key</key>
			<string>version_preference</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>http://madeinreno.org</string>
			<key>Key</key>
			<string>url_preference</string>
			<key>Title</key>
			<string>Web</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Copyright © 2013 Made In Reno</string>
			<key>Key</key>
			<string>copyright_preference</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>FalseValue</key>
			<string>NO</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Reset</string>
			<key>Key</key>
			<string>reset_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
